*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  /* This will set 1rem to 10px */
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--color-main-background);
}
